
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

animation()
  vendor('animation', arguments)

opacity()
  vendor('opacity', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

box-sizing()
  vendor('box-sizing', arguments)

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

text-shadow()
  vendor('text-shadow', arguments)

text-ellipsis()
  vendor('text-ellipsis', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

sidebar-gardient-bar()
  padding 10px
  height 48px
  background-image linear-gradient(to bottom, darken(dark_blue, 30%) 0%, very_dark_blue 100%)
  margin -10px -10px 0
  box-shadow 0 1px 4px rgba(0, 0, 0, .7)

inner-div()
  & > span, & > div
    border-radius 3px
    display block

counters()
  .all
    margin 0
    display block
    font-weight 100
    color light_gray

    .value
      font-weight 100

  &.fail
    .all .total
      color failure

  &.failure
    .all
    .all .total
      color failure

  &.success
    .all
    .all .total
      color success


