@import "colors"
@import "variables"
@import "mixins"
@import "functions"

@import "progress"
@import "viewer"
@import "examples"

body
  font-family Roboto, Helvetica Neue, Helvetica, sans
  font-weight 300
  background very_dark_blue
  overflow hidden

*
  box-sizing border-box

.snapjs-left
.snapjs-right
  #examples
    .example-group
      &:before
        content ''
        display block
        position absolute
        width 100%
        height 100%
        z-index 3

.snapjs-left
  #viewer
    display none

.snapjs-right
  #progress
    display none

.error
  background transparentize(failure, 0.7)
  padding 5px
  border-radius 5px
  margin-bottom 8px

  .message
    color failure

  pre
    color medium_gray


