@import "colors"
@import "mixins"
@import "functions"

states = ('errored' errored) ('skipped' skipped) ('pending' pending) ('failure' failure) ('success' success)

body
  font-family Roboto, Helvetica Neue, Helvetica, sans
  font-weight 300
  background very_dark_blue
  overflow hidden

*
  box-sizing border-box

#progress, #examples, #viewer
  position absolute

  & > span, & > div
    border-radius 3px
    display block

#progress, #viewer
  z-index 1

  section
    padding 10px
    height 48px
    background-image linear-gradient(to bottom, darken(dark_blue, 30%) 0%, very_dark_blue 100%)
    margin -10px -10px 0
    box-shadow 0 1px 4px rgba(0, 0, 0, .7)

#viewer
  section
    margin -15px -20px 10px
    padding 13px 0px 13px 20px

#examples
  z-index 2

#progress, #examples
  .all
    margin 0
    display block
    font-weight 100
    color light_gray

    .value
      font-weight 100

  &.fail
    .all .total
      color failure

  &.failure
    .all
    .all .total
      color failure

  &.success
    .all
    .all .total
      color success

#examples .all
  padding-left 8px
  font-size 30px
  line-height 36px
  text-shadow -1.5px -1.5px 0px very_dark_blue, 1.5px 1.5px 0px lighten(dark_blue, 5)
  display block
  position absolute
  left 48px
  top 4px

  span
    font-size 30px
    line-height 36px

#progress
  color medium_gray
  padding 10px
  width 266px
  left 0
  top 0
  bottom 0

  .all
    font-size 40px
    line-height 43px
    margin 8px 0

  for state in states
    .{state[0]} .symbol
      color state[1]

    .{state[0]}.not-zero
      color state[1]

    span:not(:first-child):not(.not-zero) .symbol
      color: medium_gray

  .seed
  .time
    color light_gray
    display inline-block
    float left
    border-radius 3px
    line-height 1em
    padding 3px 5px
    margin-top 3px
    background light_blue
    box-shadow inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0px dark_blue

    .value
      text-shadow 0 1px 2px transparentize(dark_blue, 0.5)

    i
      color dark_blue
      // font-size 0.9em
      margin-right 5px

  .time
    margin-left 10px
    // background success

  ul
    margin 0
    padding 0

  li
    margin 0 -10px
    padding 0
    position relative
    list-style none
    padding 10px
    border-top 1px solid dark_blue
    cursor pointer
    transition all 0.3s

    &:first-child
      border-top none

    &:hover
      background dark_blue

      & + li
        border-color very_dark_blue

    &:after
      content '\f06e'
      font-family FontAwesome
      color medium_gray
      position absolute
      right 20px

#viewer
  width 50%
  top 0
  bottom 0
  right 0
  margin-top -5px

for state in states
  .hide-{state[0]} #progress li.{state[0]}
    &:after
      color black
      text-shadow 0 1px 1px white

.snapjs-left
.snapjs-right
  #examples
    &:before
      content ''
      display block
      position absolute
      width 100%
      height 100%
      z-index 3

.snapjs-left
  #viewer
    display none

.snapjs-right
  #progress
    display none

#examples
  background light_gray
  top 0
  left 0
  right 0
  bottom 0
  box-shadow 0 0 5px 4px black
  border-radius 5px

  & > div
    overflow auto
    padding-top 48px
    height 100%
    border 1px solid transparentize(dark_blue, 0.8)

  & > header
    position absolute
    padding 0
    top 5px

  .header
    position absolute
    left 0
    right 0
    top 0
    height 48px
    z-index 2
    background-image linear-gradient(to bottom, dark_blue 0%, very_dark_blue 100%)
    border-radius 3px
    box-shadow 0 1px 3px transparentize(very_dark_blue, 0.5)

    #search
      position absolute
      height 36px
      top 4px
      left 48px
      text-align right
      right 102px

      input
        font-family Roboto, Helvetica Neue, sans
        min-width 200px
        width 200px
        height 100%
        padding 5px 36px 3px 8px
        border-top 1px solid very_dark_blue
        border-left 1px solid very_dark_blue
        border-right 1px solid dark_blue
        border-bottom 1px solid dark_blue
        color light_gray
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        font-size 20px
        font-weight 100
        border-radius 4px
        box-sizing border-box
        box-shadow inset 0 1px 3px rgba(0, 0, 0, .5)
        background-image linear-gradient(to bottom, very_dark_blue 0%, dark_blue 100%)
        transition all 0.3s

        &:focus
          min-width 164px
          width 50%

      button
        border none
        width 30px
        height 30px
        position absolute
        font-size 15px
        right 0
        top 3px
        color medium_gray
        text-shadow 0 1px 2px rgba(0, 0, 0, .5)
        transition all 0.3s


    button
      color light_gray
      background transparent
      border none
      border-left 1px solid dark_blue
      border-right 1px solid very_dark_blue
      height 48px
      width 48px
      position relative
      font-size 32px
      cursor pointer

      &:active
        background dark_blue

      &.btn-open-left:after
        content ''
        display block
        position absolute
        margin-left 1px
        left 100%
        top 0
        height 100%
        border-left 1px solid dark_blue

      &.btn-open-right
        position absolute
        right 0px

      &.btn-collapse
        position absolute
        right 48px

        &:before
          content ''
          display block
          position absolute
          margin-left -2px
          left 0
          top 0
          height 100%
          border-left 1px solid very_dark_blue

  .value
    font-weight 400

  .example-group
    position relative
    color dark_blue

    & + .example-group
      border-top 1px solid transparentize(dark_blue, 0.9)

    for i in 0..20
      &.level{i}
        header
          padding-left (i + 1) * 20px + 8px

        article
          padding-left (i + 2) * 20px + 8px

    &:before
      position absolute
      content '\f13a'
      font-family FontAwesome
      display block
      width 20px
      height 20px
      top 8px
      left 5px
      transition all 0.2s
      opacity 0

    &:hover:before
      opacity 0.4

    &.success
      background transparentize(success, 0.8)

    &.failure
      background transparentize(failure, 0.8)

    &.collapse
      section
      article
        display none

      &:before
        content '\f138'

      header:after
        opacity 1


    header:after
      display inline-block
      background pending
      line-height 8px
      padding 2px 3px
      content '•••'
      border-radius 3px
      opacity 0
      transition all 0.3s

    header
    article
      cursor pointer
      margin 0
      font-weight 300
      padding 5px 8px

  .example
    & + .example
      border-top 1px solid transparentize(dark_blue, 0.9)

    for state in states
      &.{state[0]}
        background transparentize(state[1], 0.8)

for state in states
  .hide-{state[0]} #examples .{state[0]}
    display none

#viewer
  background very_dark_blue
  padding 10px 20px
  overflow auto

  .example
    width 100%
    color light_gray

    for state in states
      &.{state[0]}
        .state
          background state[1]

        .message
          color state[1]

    h3
      margin 0
      font-weight 300

    .details
    .message
    .stack
      margin 10px 0

    .message
      white-space pre-wrap

    .stack
      font-size 12px
      font-family monospace
      white-space nowrap

      a
        color light_blue
        cursor pointer
        &:hover
          text-decoration none

      pre
        color darken(medium_gray, 20%)

        .line-number
          color darken(medium_gray, 50%)

    .time
    .state
    .refresh
      display inline-block
      color light_gray
      border-radius 3px
      font-weight 300
      margin-right 10px
      text-decoration none
      padding 3px 5px
      line-height 1em
      box-shadow inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0px dark_blue


      i
        margin-right 5px
        color dark_blue

      span
        text-shadow 0 0 2px transparentize(dark_blue, 0.3)

    .time
      background light_blue

    .refresh
      background failure
      text-transform uppercase

    .state
      text-transform uppercase

    .expectations
      padding 0
      margin 10px 0

      .expectation
        list-style none
        cursor pointer
        padding 5px
        margin 0 -5px
        border-radius 3px

        &.active
          background dark_blue

        &.success
          color success

        &.failure
          color failure

    .expectation-message
      border-top 1px solid dark_blue
      padding-top 5px
      white-space pre-wrap
      font-family Menlo, Consolas, monospace
      font-size 0.8em

      &.success
        color success

      &.failure
        color failure

      .value
        background dark_blue
        border-radius 3px
        padding 1px 3px

    .diff
      display block
      background dark_blue
      padding 5px
      border-radius 4px
      color medium_gray

      del, ins
        padding 2px
        text-decoration none

      del
        background transparentize(failure, 0.5)

      ins
        background transparentize(success, 0.5)

.error
  background transparentize(failure, 0.7)
  padding 5px
  border-radius 5px
  margin-bottom 8px

  .message
    color failure

  pre
    color medium_gray

@media screen and (max-width: 480px)
  #examples
    .header
      #search
        overflow hidden


        input
          min-width 0px
          width 0px
          padding-right 20px

          &:focus + button
            right 0

            i:after
              opacity 0

        button
          right -30px

          i:after
            content '\f002'
            font-family FontAwesome
            color medium_gray
            position absolute
            display block
            right 37px
            top 8px
            opacity 0.5
            transition all 0.3s

            z-index 2
            pointer-events: none

  #viewer .example section
    .time, .state
      margin-right 3px

    .refresh
      margin-right 0

      i
        margin-right 0

      span
        display none













