states = ('errored' errored) ('skipped' skipped) ('pending' pending) ('failure' failure) ('success' success)

breakpoint_small_phone = 480px
breakpoint_large_phone = 768px
breakpoint_tablet = 1024px
breakpoint_small_desktop = 1200px

