#examples
  header.header
    button.btn-open-left
      i.icon-reorder

    span.all
      span.value 0
      /
      span.total 0

    button.btn-open-right
      i.icon-plus

    button.btn-collapse
      i.icon-ellipsis-horizontal

  div
