#progress
  section
    span.seed
      i.icon-random
      span.value= seed

    span.time
      i.icon-time
      span.value 0s

  span.all
    span.value 0
    /
    span.total 0

  ul
    each chr,state in chars
      li(class=state, data-state=state)
        span.value 0
        span.symbol= ' ' + state

  .credits
    .version Spectacular 1.5.0

    a.documentation(href="http://abe33.github.io/spectacular/") Documentation
    a.github(href="https://github.com/abe33/spectacular") Github


