doctype 5
html(lang='en')
  head
    title Spectacular
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no', name='viewport')

    script(type='text/javascript').
      window.spectacular = {
        options: #{options},
        templates: {}
      };

    if sourceMap
      script(type='text/javascript', src='vendor/source-map.js')
      script(type='text/javascript').
        spectacular.options.hasSourceMap = function(file) {
          return /\.coffee$/.test(file);
        };
        spectacular.options.getSourceURLFor = function(file) {
          return file.replace('.coffee', '.coffee.src')
        };
        spectacular.options.getSourceMapURLFor = function(file) {
          return file.replace('.coffee', '.map')
        };

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', type='text/css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.1.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='assets/css/spectacular.css', type='text/css')

    script(type='text/javascript', src='vendor/jade.js')
    script(type='text/javascript', src='vendor/snap.js')
    each c,p in templates
      != c

    each p in sources
      script(type='text/javascript', src=p)

    each p in paths
      script(type='text/javascript', src=p)

  body
